<div>

	<div class="col-md-6">
		<form name="messageform">
			<div class="form-group">
				<textarea class="form-control" rows="3" placeholder="{{'ret.Placeholder' | translate}}" ng-model="message"></textarea>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary" ng-click="onSubmit()">{{"ret.Submit" | translate}}</button>
				</div>
			</div>
		</form>
	</div>

	<div class="communicationslist">
		<div class="row">
			<div class="col-md-6">
				<table class="table table-hover">
					<thead>
						<tr>
							<th data-columnName="Date">{{"Date" | translate}}</th>
							<th data-columnName="Message">{{"ret.Message" | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-clickable" ng-repeat="c in communications">
							<td>{{c.Date}}</td>
							<td>{{c.Message}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>