<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="StudentRetentionConnectionString" connectionString="Data Source=sql.dev.nem.ru.is;   MultipleActiveResultSets=False;    Initial Catalog=Retention;       User ID=retention_user;Password=Shimano987" providerName="System.Data.SqlClient" />
    <add name="RetentionEntities" connectionString="metadata=res://*/Models.StudentModel.csdl|res://*/Models.StudentModel.ssdl|res://*/Models.StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.dev.nem.ru.is;initial catalog=Retention;user id=retention_user;password=Shimano987;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Login info for Elastic service -->
    <add key="ElasticUriString" value="http://leit.dev.nem.ru.is:9200/" />
    <add key="ElasticIndexName" value="retention" />

    <!-- Login info for rabbitMQ service -->
    <add key="hostName" value="leit.dev.nem.ru.is" />
    <add key="rabbitQueueName" value="smu" />
    <add key="ExchangeType" value="topic" />
    <add key="RabbitexchangeName" value="Centris" />
    <add key="userName" value="Retention" />
    <add key="password" value="admin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RabbitEncoding" value="iso-8859-1" />

    <!-- Login info for Centris service -->
    <add key="APIEndpoint" value="http://centris.dev.nem.ru.is/api/api/v1/" />
    <add key="APIUser" value="dabs" />
    <add key="APIPass" value="dabs" />

    <!-- Login info for Oauth/Token/centris service -->
    <add key="OAuth2TokenEndpoint" value="https://s1.dev.nem.ru.is/idsrv/core/connect/token" />
    <add key="ResourceOwnerClient" value="IdentityWebUI" />
    <add key="ResourceOwnerClientSecret" value="jerry564" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Double Values that need to be easily changed (control riskfactor for students success)-->
    <add key="AsessmentView" value="1" />
    <add key="LateHandin" value="1" />
    <add key="Comment" value="1" />
    <add key="Handin" value="1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>